<div class="form-container">
  <form [formGroup]="historiaClinicaForm" (ngSubmit)="onSubmit()" class="historia-form">

    <h1 class="form-title">Ingreso de Historia Clínica</h1>

    <mat-form-field appearance="fill">
      <mat-icon matPrefix>pet_paw</mat-icon>
      <mat-label>Nombre del Animal</mat-label>
      <input matInput type="text" formControlName="nombreAnimal">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Animal</mat-label>
      <mat-select formControlName="tipoAnimal">
        <mat-option value="perro">Perro</mat-option>
        <mat-option value="gato">Gato</mat-option>
        <!-- Puedes añadir más opciones según necesites -->
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>pet_paw</mat-icon>
      <mat-label>Raza</mat-label>
      <input matInput type="text" formControlName="raza">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>pet_paw</mat-icon>
      <mat-label>Edad</mat-label>
      <input matInput type="number" formControlName="edad">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>pet_paw</mat-icon>
      <mat-label>Fecha de Consulta</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaConsulta">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>pet_paw</mat-icon>
      <mat-label>Enfermedad</mat-label>
      <mat-select formControlName="enfermedad">
        <mat-option value="leptospirosis">Leptospirosis</mat-option>
        <mat-option value="toxoplasmosis">Toxoplasmosis</mat-option>
        <!-- Agrega más opciones si es necesario -->
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-icon matPrefix>pet_paw</mat-icon>
      <mat-label>Diagnóstico</mat-label>
      <textarea matInput formControlName="diagnostico"></textarea>
    </mat-form-field>
  
    <mat-checkbox formControlName="vacunado">¿Está vacunado?</mat-checkbox>
  
    <!-- Puedes añadir más campos según necesites -->
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!historiaClinicaForm.valid">Enviar</button>
  
  </form>
</div>

